<%- include("header") -%>

<h2>This the about page </h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos debitis illum natus. <br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, eum!</p>

<%- include("footer") -%>